# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/
*.log

# IDE
.vscode/

# CAD file library
/library/*
!/library/template
/import
/example
/image

# AI notes
*.md
!LICENSE.md
!README.md
!CONTRIBUTING.md
!CHANGELOG.md
!AGENTS.md
!SPEC.md
!UX.md