# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/
*.log

# IDE
.vscode/

# CAD file library
/library/*
!/library/template

# helper files
/import